<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Mattelier" android:theme="@style/AppTheme" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".ProbeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".PaintActivity" android:exported="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
